* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  letter-spacing: -.06em;
}


:root {
  --bouncy-ease: linear(0, 0.0497, 0.1119, 0.1833, 0.2609, 0.342, 0.4242, 0.5057, 0.5847, 0.6599, 0.7304, 0.7954, 0.8542, 0.9068, 0.9528, 0.9925, 1.0259, 1.0534, 1.0753, 1.092, 1.104, 1.1118, 1.1159, 1.1169, 1.1152, 1.1112, 1.1055, 1.0984, 1.0904, 1.0816, 1.0725, 1.0634, 1.0543, 1.0455, 1.0371, 1.0293, 1.0221, 1.0156, 1.0098, 1.0048, 1.0004, 0.9967, 0.9937, 0.9914, 0.9896, 0.9883, 0.9874, 0.987, 0.9869, 0.9872, 0.9876, 0.9883, 0.9891, 0.99, 0.991, 0.992, 0.993, 0.994, 0.995, 0.9959, 0.9968, 0.9976, 0.9983, 0.999, 0.9995, 1, 1.0004, 1.0007, 1.001, 1.0012, 1.0013, 1.0014, 1.0015, 1.0015, 1.0014, 1.0014, 1.0013, 1.0012, 1.0011, 1.001, 1.0009, 1.0008, 1.0007, 1.0005, 1.0004, 1.0003, 1.0003, 1.0002, 1.0001, 1, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 0.9998, 0.9998, 0.9998, 0.9998, 1);
}


body {
  font-family: "Geist", sans-serif;
  display: flex;
  justify-content: center;
  padding-inline: 1em;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100svh;
  max-height: 100dvh;
  line-height: 1.2;
}


.mono {
  font-size: 14px;
  font-family: "Geist Mono", monospace;
}

.form-wrapper {
  width: 100%;
  max-width: 320px;
}

.form-wrapper form {
  display: flex;
  gap: 1em;
  width: 100%;
  flex-direction: column;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.form-field {
  padding: 12px 12px;
  outline: none;
  border: none;
  font-size: 28px;
  border-bottom: 2px solid black;
}

.form-field::placeholder {
  color: #aeadad;
}


/* #submitBtn {
  /* --bouncy-ease: linear(0, 0.0199, 0.075, 0.1581, 0.2618, 0.3792, 0.5038, 0.6297, 0.7518, 0.8658, 0.9687, 1.0579, 1.1319, 1.1902, 1.2327, 1.26, 1.2732, 1.274, 1.264, 1.2452, 1.2196, 1.1891, 1.1557, 1.1211, 1.0868, 1.0541, 1.024, 0.9973, 0.9745, 0.9561, 0.942, 0.9322, 0.9264, 0.9243, 0.9255, 0.9294, 0.9355, 0.9432, 0.952, 0.9614, 0.9709, 0.9802, 0.9889, 0.9968, 1.0037, 1.0094, 1.0139, 1.0173, 1.0195, 1.0206, 1.0208, 1.0201, 1.0187, 1.0169, 1.0146, 1.0121, 1.0095, 1.0069, 1.0044, 1.0021, 1, 0.9983, 0.9968, 0.9957, 0.9949, 0.9945, 0.9943, 0.9943, 0.9946, 0.9951, 0.9956, 0.9963, 0.997, 0.9977, 0.9984, 0.9991, 0.9997, 1.0002, 1.0007, 1.001, 1.0013, 1.0015, 1.0016, 1.0016, 1.0015, 1.0014, 1.0013, 1.0011, 1.0009, 1.0007, 1.0005, 1.0004, 1.0002, 1, 0.9999, 0.9998, 0.9997, 0.9996, 0.9996, 0.9996, 1); */
/* --bouncy-ease: linear(0, 0.0006, 0.0006, 0.0007, 0.0009, 0.001, 0.0011, 0.0013, 0.0015, 0.0017, 0.002, 0.0022, 0.0026, 0.003, 0.0034, 0.0039, 0.0045, 0.0052, 0.0059, 0.0068, 0.0078, 0.009, 0.0103, 0.0118, 0.0136, 0.0156, 0.0179, 0.0206, 0.0237, 0.0272, 0.0313, 0.0359, 0.0412, 0.0474, 0.0544, 0.0625, 0.0718, 0.0825, 0.0947, 0.1088, 0.125, 0.1436, 0.1649, 0.1895, 0.2176, 0.25, 0.2872, 0.3299, 0.3789, 0.4353, 0.5, 0.5647, 0.6211, 0.6701, 0.7128, 0.75, 0.7824, 0.8105, 0.8351, 0.8564, 0.875, 0.8912, 0.9053, 0.9175, 0.9282, 0.9375, 0.9456, 0.9526, 0.9588, 0.9641, 0.9688, 0.9728, 0.9763, 0.9794, 0.9821, 0.9844, 0.9864, 0.9882, 0.9897, 0.991, 0.9922, 0.9932, 0.9941, 0.9948, 0.9955, 0.9961, 0.9966, 0.997, 0.9974, 0.9978, 0.998, 0.9983, 0.9985, 0.9987, 0.9989, 0.999, 0.9991, 0.9993, 0.9994, 0.9994, 1); */
/* --bouncy-ease:cubic-bezier(0.33, 1, 0.68, 1); */
/* --bouncy-ease:cubic-bezier(0.83, 0, 0.17, 1); */
/* --bouncy-ease:
  linear(0, 0.0273, 0.1024, 0.2142, 0.3514, 0.503, 0.6588, 0.8099, 0.9489, 1.0702, 1.17, 1.2461, 1.298, 1.3264, 1.3332, 1.3213, 1.2941, 1.2552, 1.2084, 1.1574, 1.1055, 1.0556, 1.0101, 0.9707, 0.9387, 0.9146, 0.8986, 0.8904, 0.8891, 0.894, 0.9038, 0.9173, 0.9332, 0.9503, 0.9675, 0.984, 0.9989, 1.0116, 1.0219, 1.0295, 1.0344, 1.0368, 1.0368, 1.0349, 1.0314, 1.0268, 1.0214, 1.0156, 1.0099, 1.0045, 0.9996, 0.9955, 0.9922, 0.9898, 0.9883, 0.9877, 0.9878, 0.9885, 0.9897, 0.9913, 0.9932, 0.9951, 0.997, 0.9988, 1.0004, 1.0017, 1.0027, 1.0035, 1.0039, 1.0041, 1.004, 1.0038, 1.0033, 1.0028, 1.0022, 1.0015, 1.0009, 1.0003, 0.9998, 0.9994, 0.999, 0.9988, 0.9987, 0.9986, 0.9987, 0.9988, 0.9989, 0.9991, 0.9993, 0.9995, 0.9997, 0.9999, 1.0001, 1.0002, 1.0003, 1.0004, 1.0004, 1.0005, 1.0004, 1.0004, 1) */

/* linear(0, 0.0006, 0.0006, 0.0007, 0.0009, 0.001, 0.0011, 0.0013, 0.0015, 0.0017, 0.002, 0.0022, 0.0026, 0.003, 0.0034, 0.0039, 0.0045, 0.0052, 0.0059, 0.0068, 0.0078, 0.009, 0.0103, 0.0118, 0.0136, 0.0156, 0.0179, 0.0206, 0.0237, 0.0272, 0.0313, 0.0359, 0.0412, 0.0474, 0.0544, 0.0625, 0.0718, 0.0825, 0.0947, 0.1088, 0.125, 0.1436, 0.1649, 0.1895, 0.2176, 0.25, 0.2872, 0.3299, 0.3789, 0.4353, 0.5, 0.5647, 0.6211, 0.6701, 0.7128, 0.75, 0.7824, 0.8105, 0.8351, 0.8564, 0.875, 0.8912, 0.9053, 0.9175, 0.9282, 0.9375, 0.9456, 0.9526, 0.9588, 0.9641, 0.9688, 0.9728, 0.9763, 0.9794, 0.9821, 0.9844, 0.9864, 0.9882, 0.9897, 0.991, 0.9922, 0.9932, 0.9941, 0.9948, 0.9955, 0.9961, 0.9966, 0.997, 0.9974, 0.9978, 0.998, 0.9983, 0.9985, 0.9987, 0.9989, 0.999, 0.9991, 0.9993, 0.9994, 0.9994, 1); */
/* } */

#warningBlock {
  padding-top: 8px;
  font-size: 11px;
  font-weight: 600;
  transition: all .3s var(--bouncy-ease);
  color: rgba(189, 14, 14, 0.733);
}

.submitBtn {
  padding: 12px 28px;
  border: none;
  font-size: .8em;
  background-color: rgb(27, 25, 25);
  color: white;
  letter-spacing: -.04em;
  border-radius: 40px;
  font-family: "Geist Mono", monospace;
  transition: scale .6s var(--bouncy-ease);
}

.holdExcessive {
  opacity: .4;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all .8s var(--bouncy-ease);
}



@media (hover:hover) and (pointer: fine) {
  #submitBtn:hover {
    scale: 1.025;
    cursor: pointer;
  }
}

#submitBtn:hover:disabled {
  scale: 1;
  cursor: not-allowed;
}

#submitBtn:active {
  scale: .98;
}